<h1>書き出し文　編集</h1>

<%= form_with model:@line, url: line_path, method: :patch, local:true do |f| %>

<div class="field">
  <%= f.label :content %><br />
  <%= f.text_field :content, autofocus:true %>
</div>

<div class="field">
  <%= f.label :book_title %><br />
  <%= f.text_field :book_title, autofocus:true, autocomplete: "book_title" %>
</div>

<div class="action">
  <%= f.submit "update" %>
</div>
<% end %>