<div class="container">
  <div class="row my-3">
    <div class="col-12">
      <h1><%= @user.name %>さんの詳細ページ</h1>
      <p><%= @user.introduction %></p>
      <p>
        <%= link_to edit_user_path(@user.id) do %>
          <i class="fas fa-user-cog"></i> Edit
        <% end %>
      </p>
    </div>

    <div class="col-md-5">
      <h3><%=@user.name%>さん作の書き出し文一覧</h3>
        <% @lines.each do |line| %>
          <div class="card">
            <div class="card-body">
              <p class="card-text"><%= link_to line.content, line_path(line.id) %></p>
              <p class="card-text"><%= line.book_title %></p>
            </div>
          </div>
        <% end %>
    </div>

    <div class="col-md-5 offset-md-2">
      <h3><%=@user.name%>さん作のStory一覧</h3>
        <% @user.stories.all.each do |story| %>
          <div class="card">
            <div class="card-body">
              <p class="card-text"><%= link_to story.story_comment, line_story_path(story.line.id, story.id)%></p>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>